build
.DS_Store
*.swp
*~.nib
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3
*.tm_build_errors
._build
.dat*
._*
*.xcuserstate
project.xcworkspace/
*.xcworkspace
!default.xcworkspace
xcuserdata/
.idea/
